*{
    margin: 0;
    padding: 0;
}    

body{
    font-family: sans-serif;
    background-color: #efefef

}

div.all{
    width: 80%;
    height: 1400px;
    margin-top: 20px;
    background-color: white;
    margin-left: 120px;
}

h1.t{
    text-align: center;
    font-size: 50px;
    margin-top: 140px;
    color: black;
    padding-top: 60px;
    padding-bottom: 80px;
    text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
    color: #000;

    animation: fondo;
    animation-duration: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
   margin-top: 150px;
}

@keyframes fondo{
    0%{
        opacity: 0;

    }


    100%{
        opacity:1;
    }
}


img.a{

    float: left;
    width: 250px;
    height: 250px;
    margin-left: 190px;
    display: block;
    margin-top: 10px;

}

p.a{
    margin-top: 300px;
    margin-left: 170px;
     font-size: 20px;
     color: black;
}

img.b{

    float: right;
    width: 250px;
    height: 250px;
    margin-right: 200px;
    display: block;
    margin-top: -310px;

}

p.b{
    margin-top: -20px;
    float: right;
    margin-right: 210px;
    font-size: 20px;
    color: black;
}

img.c{

    float: left;
    width: 250px;
    height: 250px;
    margin-right: 200px;
    display: block;
    margin-top: 70px;
    margin-left: 150px;

}

p.c{
    margin-top: 380px;
    margin-left: 220px;
    font-size: 20px;
    color: black;
}

img.d{

    float: right;
    width: 250px;
    height: 250px;
    margin-right: 200px;
    display: block;
    margin-top: -350px;
    
}

p.d{
    margin-top: -20px;
    float: right;
    margin-right: 220px;
     font-size: 20px;
     color: black;
}

img.e{

    float: left;
    width: 250px;
    height: 250px;
    margin-left: 150px;
    display: block;
    margin-top: 100px;

}

p.e{
    margin-top: 385px;
    margin-left: 185px;
     font-size: 20px;
     color: black;
  }

img.f{

    float: right;
    width: 300px;
    height: 250px;
    display: block;
    margin-top: -300px;
    margin-right: 180px;
}

p.f{
    margin-top: -30px;
    float: right;
    margin-right: 150px;
     font-size: 20px;
     color: black;
}
