body{
    background: url(fondo.jpg);
    margin: 0;
    font-family: "Lucida Sans";
}

.cont{
    width: 40%;
    height: 600px;
     background-image: url(fondo2.jpg);
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.formu{
    position: absolute;
    top: 75px;
    align-items: center;
    justify-items: center;
}

h1{
    text-align: center;
    position: absolute;
    top: 30px;
    left: 80px;
    color: #ffffff;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

#Nombre, #Apellido, #Correo, #Tel, #Direc, #Card, #ncc, #m, #y, #num, #ncc, #Enviar{
    width: 500px;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: black;
}

#m, #y, #num{
    width: 150px;
}

#Nombre{
    position: absolute;
    top: 20px;
    left: 20px;
}

#Apellido{
    position: absolute;
    top: 70px;
    left: 20px;
}

#Correo{
    position: absolute;
    top: 120px;
    left: 20px;
}

#Tel{
    position: absolute;
    top: 170px;
    left: 20px;
}

#Direc{
    position: absolute;
    top: 220px;
    left: 20px;
}

#Card{
    position: absolute;
    top: 270px;
    left: 20px;
}

#Enviar{
    position: absolute;
    top: 433px;
    left: 20px;
    padding: 20px;
    background-color: #ffffff;
    transition: all 0.4s linear;
}

#Enviar:hover{
    cursor: pointer;
    border: 1px black solid;
}

#m{
    position: absolute;
    top: 320px;
    left: 20px;
    
}

#y{
    position: absolute;
    top: 320px;
    left: 172.5px;
}

#ncc{
    position: absolute;
    top: 370px;
    left: 20px;
}

#num{
    position: absolute;
    top: 320px;
    left: 325px;
    width: 195px;
    
}

.formu img{
    width: 25px;
    position: absolute;
    right: 8px;
    top: 10px;
}
